<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>UP SSR PoC</title>
</head>
<body>
<header>
  <div class="page__container__logo">
    <div *ngIf="title$ | async as title" class="maintenance__banner">
      <div class="maintenance__banner__text">
        {{ title }}
      </div>
    </div>
  </div>
</header>
<div class="topnav">
  <a class="active" href="#news">News</a>
  <a href="#contact">Services</a>
  <div class="topnav-right">
    <a [routerLink]="'corporate'">Corporate Info</a>
  </div>
</div>
<div class="page__container">
  <nav>

  </nav>
  <router-outlet></router-outlet>
</div>
</body>
</html>
